<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load package from google charts
      google.charts.load('current', {'packages':['corechart']});

      // Draw the 2 pie charts
      google.charts.setOnLoadCallback(drawSchoolA);
      google.charts.setOnLoadCallback(drawSchoolB);

      //draw School A chart
      function drawSchoolA() {

        //set up data
        var low = <%= @percLowIncome1%>*100 ;
        var oth = (1 - <%= @percLowIncome1 %>)*100 ;

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Percentage');
        data.addRows([
          ['Low Income', low],
          ['Other', oth]
        ]);

        //create specifications
        var options = {
          title: 'Percentage Low Income vs Attendance vs Grad Rate',
          colors: ['#fe6f5e','#3d0c02'],
          is3D: true,
        };

        //create + draw chart a
        if(low != 0 && oth != 0){
          var chart = new google.visualization.PieChart(document.getElementById('schoolA_chart_div'));
          chart.draw(data, options);
        }else{
          var output = document.getElementById('schoolA_chart_div').innerHTML = "DATA UNAVAILABLE";
        }
      }

      function drawSchoolB(){

      //set up data
        var low = <%= @percLowIncome2%>*100 ;
        var oth = (1 - <%=@percLowIncome2%>)*100;

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'percentage');
        data.addRows([
          ['Low Income', low],
          ['Other', oth]
        ]);

        //set up chart specifications
        var options = {
          title: 'Percentage Low Income vs Attendance vs Grad Rate',
          colors: ['#3c1e62', '#aa8dc8'],
          is3D: true,
        };

        //create + draw chart b
        if(low != 0 && oth != 0){
          var chart = new google.visualization.PieChart(document.getElementById('schoolB_chart_div'));
          chart.draw(data, options);
        }else{
          var output = document.getElementById('schoolB_chart_div').innerHTML = "DATA UNAVAILABLE";
        }
      }
      
     $(window).on("throttledresize", function (event) {
	     
   	 var options = {
         	width: '100%',
         	height: '100%'
     	 };
	     
	var data = google.visualization.arrayToDataTable([]);
    	drawChart(data, options);
     });
</script>
	  
<css>
#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#chart_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
</css>
  </head>
  <body>
    <table class = 'columns'>
      <tr>
        <td><%= @school1 %> <%= @year%> </td>
        <td><%= @school2 %> <%= @year%> </td>
      </tr>
      <tr>
      <td><div id="chart_wrap"><div id="schoolA_chart_div" style="width: 900px; height: 500px;"></div></div></td>
      <td><div id="chart_wrap"><div id="schoolB_chart_div" style="width: 900px; height: 500px;"></div></div></td>
      </tr>
      <tr>
        <td>Avg Attendance Rate Per Student: <%= @attendanceRate1 %></td>
        <td>Avg Attendance Rate Per Student: <%= @attendanceRate2 %></td>
      </tr>
      <tr>
        <td>Grad Rate: <%= @gradRate1 - (@gradRate1 %1) %> </td>
        <td>Grad Rate: <%= @gradRate2 - (@gradRate2 %1) %></td>
      </tr>
    </table>
  </body>
</html>
